<div class="panel add-user-box panel-color panel-blue">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-eye"></i> Charge of Date</h3>
        <div class="panel-options">
            <a href="" ng-click="close()" class="btn-close-icon"> <i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>Cost per View</td>
                <td>323</td>
            </tr>
            <tr>
                <td>Cost per Click</td>
                <td>464</td>
            </tr>
        </table>

        <button type="button" ng-click="cancel()" class="btn btn-danger btn-close btn-cancel pull-right">Cancel</button>
    </div>
</div>